.user {
    /* user */

    /* Auto layout */
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : flex-start;
    padding        : 0px;

    position: absolute;
    width   : 430px;
    height  : 480px;
    left    : 0px;
}

.user_info {
    /* user-info */

    box-sizing: border-box;

    /* Auto layout */
    display       : flex;
    flex-direction: row;
    align-items   : center;
    padding       : 24px 16px;
    gap           : 16px;

    width : 430px;
    height: 148px;

    background   : #ffffff;
    border-bottom: 1px solid #f2f2f2;

    /* Inside auto layout */
    flex     : none;
    order    : 0;
    flex-grow: 0;
}

.user_info img {
    /* avatar */

    box-sizing: border-box;

    width : 100px;
    height: 100px;

    border       : 2px solid #292c2b;
    border-radius: 500px;

    /* Inside auto layout */
    flex     : none;
    order    : 0;
    flex-grow: 0;
}

.user_info_text {
    /* info */

    /* Auto layout */
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : flex-start;
    padding        : 0px;
    gap            : 4px;

    width : 282px;
    height: 100px;

    /* Inside auto layout */
    flex      : none;
    order     : 1;
    align-self: stretch;
    flex-grow : 1;
}

.user_info_text_title {
    /* name */

    width : 282px;
    height: 22px;

    /* Headline/Bold */
    font-family   : "Helvetica";
    font-style    : normal;
    font-weight   : 700;
    font-size     : 16px;
    line-height   : 22px;
    /* identical to box height, or 138% */
    display       : flex;
    align-items   : center;
    letter-spacing: -0.408px;

    color: #292c2b;

    /* Inside auto layout */
    flex      : none;
    order     : 0;
    align-self: stretch;
    flex-grow : 0;
}

.user_info_text_text {
    /* name */

    width : 282px;
    height: 17px;

    /* Caption1/Bold */
    font-family: "Helvetica";
    font-style : normal;
    font-weight: 700;
    font-size  : 12px;
    line-height: 140%;
    /* identical to box height, or 17px */
    display    : flex;
    align-items: center;

    color: #616264;

    /* Inside auto layout */
    flex      : none;
    order     : 1;
    align-self: stretch;
    flex-grow : 0;
}

.row1 {
    /* row1 */

    box-sizing: border-box;

    /* Auto layout */
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : flex-start;
    padding        : 16px 0px;

    width     : 430px;
    height    : 212px;
    overflow-x: scroll;

    background: #ffffff;

    border-radius: 0px;
    border-bottom: 1px solid #777777;
    /* Inside auto layout */
    flex         : none;
    order        : 1;
    align-self   : stretch;
    flex-grow    : 0;
}

.tab {
    /* tabs */

    /* Auto layout */
    display       : flex;
    flex-direction: row;
    align-items   : center;
    padding       : 16px;
    gap           : 10px;

    width : 430px;
    height: 60px;

    background: #ffffff;

    /* Inside auto layout */
    flex      : none;
    order     : 0;
    align-self: stretch;
    flex-grow : 0;
    box-sizing: border-box;
}

.tab_text {
    /* text */

    /* Auto layout */
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : flex-start;
    padding        : 0px;
    gap            : 16px;

    width : 364px;
    height: 28px;

    /* Inside auto layout */
    flex      : none;
    order     : 1;
    align-self: stretch;
    flex-grow : 1;
    /* title */

    /* Headline/Regular */
    font-family: "Helvetica";
    font-style : normal;
    font-weight: 400;
    font-size  : 16px;
    line-height: 22px;

    letter-spacing: -0.408px;

    color: #292c2b;
}

.tabs {
    /* tabs */

    box-sizing: border-box;

    /* Auto layout */
    display       : flex;
    flex-direction: row;
    align-items   : center;
    padding       : 16px;
    gap           : 10px;

    width : 430px;
    height: 60px;

    background   : #ffffff;
    border-bottom: 1px solid #f2f2f2;

    /* Inside auto layout */
    flex      : none;
    order     : 2;
    align-self: stretch;
    flex-grow : 0;
}

.tabs_text {
    /* text */

    /* Auto layout */
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : flex-start;
    padding        : 0px;
    gap            : 16px;

    width : 364px;
    height: 28px;

    /* Headline/Regular */
    font-family: "Helvetica";
    font-style : normal;
    font-weight: 400;
    font-size  : 16px;
    line-height: 22px;
    /* or 138% */

    letter-spacing: -0.408px;

    color: #292c2b;
}