/* ===== COMMON STYLES ===== */
:root {
    --font-family     : "Helvetica";
    --color-primary   : #292c2b;
    --color-secondary : #616264;
    --color-white     : #ffffff;
    --color-gray      : #f2f2f2;
    --color-green     : #599240;
    --color-light-gray: #afafaf;
}

/* ===== ORDER TAB ===== */
.order_tab {
    position        : fixed;
    top             : 65px;
    background-color: var(--color-white);
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    padding         : 0px 16px;
    width           : 430px;
    height          : 60px;
    overflow-x      : scroll;
    border-radius   : 0px;
    flex            : none;
    order           : 0;
    align-self      : stretch;
    flex-grow       : 0;
    box-sizing      : border-box;
    scroll-behavior : smooth;
    z-index         : 100;
}

.order_tab::-webkit-scrollbar {
    display: none;
}

.order_tab_title {
    box-sizing     : border-box;
    display        : flex;
    flex-direction : row;
    padding        : 16px;
    gap            : 10px;
    justify-content: center;
    align-items    : center;
    background     : var(--color-white);
    border-bottom  : 2px solid var(--color-green);
}

.order_tab_title_text {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : flex-start;
    padding        : 0px;
    gap            : 16px;
    width          : 68px;
    height         : 24px;
    flex           : none;
    order          : 1;
    align-self     : stretch;
    flex-grow      : 0;
}

.order_tab_title_others {
    box-sizing     : border-box;
    display        : flex;
    flex-direction : row;
    padding        : 16px;
    gap            : 10px;
    justify-content: center;
    align-items    : center;
    width          : auto;
    background     : var(--color-white);
    border-bottom  : 1px solid var(--color-light-gray);
    white-space    : nowrap;
    opacity        : 0.7;
}

.order_tab_title_others_text {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : flex-start;
    padding        : 0px;
    gap            : 16px;
    width          : auto;
    height         : 24px;
}

/* ===== ORDER LIST ===== */
.order_list {
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
    padding       : 0px;
    margin-top    : 60px;
}

.orders {
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
    padding       : 16px;
    gap           : 4px;
    box-sizing    : border-box;
    width         : 430px;
    height        : 183px;
    background    : var(--color-white);
    border-bottom : 1px solid var(--color-gray);
    flex          : none;
    order         : 0;
    align-self    : stretch;
    flex-grow     : 0;
}

.container {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : flex-start;
    padding        : 0px;
    gap            : 8px;
    width          : 398px;
    height         : 151px;
}

.row_1 {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;
    padding        : 0px;
    gap            : 16px;
    width          : 398px;
    height         : 25px;
    background     : var(--color-white);
    flex           : none;
    order          : 0;
    align-self     : stretch;
    flex-grow      : 0;
}

.col_1 {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    padding        : 0px;
    gap            : 16px;
    width          : 150px;
    height         : 25px;
    flex           : none;
    order          : 0;
    align-self     : stretch;
    flex-grow      : 0;
}

.order_id {
    display       : flex;
    flex-direction: row;
    align-items   : flex-start;
    padding       : 0px 8px;
    gap           : 8px;
    width         : 74px;
    height        : 24px;
    background    : var(--color-green);
    border-radius : 4px;
}

.order_id_text {
    width         : 58px;
    height        : 24px;
    font-family   : var(--font-family);
    font-style    : normal;
    font-weight   : 700;
    font-size     : 20px;
    line-height   : 24px;
    text-align    : center;
    letter-spacing: 0.38px;
    color         : var(--color-white);
}

.order_date {
    font-family          : var(--font-family);
    font-style           : normal;
    font-weight          : 700;
    font-size            : 11px;
    line-height          : 13px;
    text-align           : center;
    letter-spacing       : 0.06px;
    font-feature-settings: "case"on;
    color                : var(--color-light-gray);
}

.status {
    display        : flex;
    flex-direction : row;
    justify-content: flex-end;
    align-items    : flex-start;
    padding        : 4px 0px;
    gap            : 8px;
    width          : 59px;
    height         : 25px;
    background     : var(--color-white);
    border-radius  : 4px;
    flex           : none;
    order          : 1;
    align-self     : stretch;
    flex-grow      : 0;
}

.status_text {
    font-family: var(--font-family);
    font-style : normal;
    font-weight: 700;
    font-size  : 12px;
    line-height: 140%;
    display    : flex;
    align-items: center;
    text-align : right;
    color      : var(--color-green);
}

.row_2 {
    display       : flex;
    flex-direction: row;
    align-items   : flex-start;
    padding       : 0px;
    gap           : 16px;
    width         : 398px;
    height        : 79px;
    background    : var(--color-white);
    border-radius : 4px;
}

.row_2 img {
    width     : 80px;
    height    : 79px;
    background: url(FDTIS20-1.jpg);
    flex      : none;
    order     : 0;
    flex-grow : 0;
}

.row_2_info {
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
    padding       : 0px;
    gap           : 16px;
    width         : 302px;
    height        : 61px;
    flex          : none;
    order         : 1;
    flex-grow     : 1;
}

.name {
    display       : flex;
    flex-direction: row;
    align-items   : flex-start;
    padding       : 0px;
    gap           : 8px;
    width         : 302px;
    height        : 22px;
    flex          : none;
    order         : 0;
    align-self    : stretch;
    flex-grow     : 0;
}

.name_text {
    font-family   : var(--font-family);
    font-style    : normal;
    font-weight   : 400;
    font-size     : 16px;
    line-height   : 140%;
    letter-spacing: -0.32px;
    color         : var(--color-primary);
}

.row_2_p {
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
    padding       : 0px;
    gap           : 8px;
    width         : 302px;
    height        : 23px;
    flex          : none;
    order         : 2;
    align-self    : stretch;
    flex-grow     : 0;
}

.row_2_price {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;
    padding        : 0px;
    gap            : 24px;
    width          : 302px;
    height         : 23px;
}

.price {
    width         : 65px;
    height        : 23px;
    font-family   : var(--font-family);
    font-style    : normal;
    font-weight   : 400;
    font-size     : 16px;
    line-height   : 140%;
    display       : flex;
    align-items   : center;
    letter-spacing: -0.32px;
    color         : var(--color-light-gray);
}

.quantity {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    padding       : 0px;
    gap           : 16px;
    font-family   : var(--font-family);
    font-style    : normal;
    font-weight   : 700;
    font-size     : 16px;
    line-height   : 21px;
    letter-spacing: -0.32px;
    color         : var(--color-primary);
}

.row_3 {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;
    padding        : 4px 0px;
    gap            : 16px;
    width          : 398px;
    height         : 31px;
    background     : var(--color-white);
}

.row_3_quantity {
    width         : 80px;
    height        : 22px;
    font-family   : var(--font-family);
    font-style    : normal;
    font-weight   : 400;
    font-size     : 16px;
    line-height   : 22px;
    display       : flex;
    align-items   : center;
    letter-spacing: -0.408px;
    color         : var(--color-secondary);
}

.row_3_price {
    display        : flex;
    flex-direction : row;
    justify-content: flex-end;
    align-items    : center;
    padding        : 0px;
    gap            : 8px;
    width          : 141px;
    height         : 23px;
}

.title_price {
    width         : 73px;
    height        : 23px;
    font-family   : var(--font-family);
    font-style    : normal;
    font-weight   : 400;
    font-size     : 16px;
    line-height   : 140%;
    display       : flex;
    align-items   : center;
    letter-spacing: -0.32px;
    color         : var(--color-secondary);
    flex          : none;
    order         : 0;
    flex-grow     : 0;
}

.price_text {
    width         : 60px;
    height        : 23px;
    font-family   : var(--font-family);
    font-style    : normal;
    font-weight   : 700;
    font-size     : 16px;
    line-height   : 21px;
    display       : flex;
    align-items   : center;
    letter-spacing: -0.32px;
    color         : var(--color-primary);
    flex          : none;
    order         : 1;
    align-self    : stretch;
    flex-grow     : 0;
}