/* ===== COMMON STYLES ===== */
:root {
    --font-family    : "Helvetica";
    --color-primary  : #292c2b;
    --color-secondary: #616264;
    --color-white    : #ffffff;
    --color-gray     : #f2f2f2;
    --color-green    : #599240;
}

/* ===== PRODUCT BAR ===== */
.product_bar {
    position        : fixed;
    top             : 65px;
    background-color: var(--color-white);
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    padding         : 0px 16px;
    gap             : 16px;
    width           : 430px;
    height          : 60px;
    overflow-x      : scroll;
    border-radius   : 0px;
    flex            : none;
    order           : 0;
    align-self      : stretch;
    flex-grow       : 0;
    box-sizing      : border-box;
    scroll-behavior : smooth;
    z-index         : 100;
}

.product_bar::-webkit-scrollbar {
    display: none;
}

.product_bar_title {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    padding        : 10px;
    gap            : 10px;
    font-family    : var(--font-family);
    font-style     : normal;
    font-weight    : 400;
    font-size      : 12px;
    line-height    : 140%;
    display        : flex;
    align-items    : center;
    color          : var(--color-secondary);
    flex           : none;
    order          : 0;
    flex-grow      : 0;
}

.p_active {
    font-family   : var(--font-family);
    font-style    : normal;
    font-weight   : 700;
    font-size     : 16px;
    line-height   : 22px;
    display       : flex;
    align-items   : center;
    letter-spacing: -0.408px;
    color         : var(--color-primary);
    flex          : none;
    order         : 0;
    flex-grow     : 0;
}

/* ===== PRODUCT GRID ===== */
.product_grid {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    align-items   : flex-start;
    align-content : flex-start;
    padding       : 0px;
    gap           : 16px;
    position      : absolute;
    width         : 398px;
    height        : 662px;
    left          : 16px;
    top           : 130px;
}

.product_grid_item {
    display        : flex;
    flex-direction : column;
    justify-content: flex-end;
    align-items    : center;
    padding        : 0px;
    gap            : 8px;
    width          : 191px;
    min-width      : 191px;
    max-width      : 191px;
    height         : 323px;
    background     : var(--color-white);
    flex           : none;
    order          : 0;
    flex-grow      : 0;
}

.vertical_image {
    display        : flex;
    flex-direction : column;
    justify-content: flex-end;
    align-items    : center;
    padding        : 0px;
    gap            : 10px;
    width          : 191px;
    height         : 191px;
    border-radius  : 16px;
    flex           : none;
    order          : 0;
    flex-grow      : 0;
    overflow       : hidden;
}

.vertical_image img {
    width     : 180%;
    height    : 140%;
    object-fit: cover;
}